<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.asiainfo.ocmanager.persistence.mapper.ServiceRolePermissionMapper">
	<!-- get service permission list by role id -->
	<select id="selectPermissionByServiceNameRoleId"
		resultType="com.asiainfo.ocmanager.persistence.model.ServiceRolePermission">
		select
		  service_servicename as "serviceName",
		  role_id as "RoleId",
		  ServicePermission as "ServicePermission"
			from
			services_roles_permission where role_id=#{roleId} and service_servicename = #{serviceName}
	</select>
</mapper>