<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.ServiceInstanceMapper">
    <!-- get all service instances in tenant -->
    <select id="selectServiceInstancesByTenant" resultType="com.asiainfo.ocmanager.persistence.model.ServiceInstance">
        select * from service_instances where tenantId = #{tenantId}
    </select>
    <!-- create service instance -->
    <insert id="insertServiceInstance" keyProperty="id"
        parameterType="com.asiainfo.ocmanager.persistence.model.ServiceInstance">
        insert into service_instances (id, instanceName, tenantId, serviceTypeId, serviceTypeName, quota)
            values (#{id}, #{instanceName}, #{tenantId}, #{serviceTypeId}, #{serviceTypeName}, #{quota})
    </insert>
	<!-- delete service instance -->
	<delete id="deleteServiceInstance">
		delete from service_instances where tenantId = #{tenantId} and instanceName = #{instanceName}
	</delete>
    <!-- get all service instances -->
    <select id="selectAllServiceInstances" resultType="com.asiainfo.ocmanager.persistence.model.ServiceInstance">
        select * from service_instances
    </select>
</mapper>