<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.TenantMapper">
	<select id="selectTenantById" parameterType="int" resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants where id=#{id}
	</select>
</mapper>