<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.TenantMapper">
	<!-- get all tenants -->
	<select id="selectAllTenants" resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants
	</select>
	<!-- get tenant by id -->
	<select id="selectTenantById" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants where id=#{id}
	</select>
	<!-- get tenant children -->
	<select id="selectChildrenTenants" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants where parentId=#{parentId}
	</select>
	<!-- get root tenants who is not having parent -->
	<select id="selectAllRootTenants"
		resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants where parentId is NULL
	</select>	
	<!-- create tenant -->
	<insert id="insertTenant" keyProperty="id"
		parameterType="com.asiainfo.ocmanager.persistence.model.Tenant">
		insert into tenants (id, name, description, parentId, level)
		values (#{id}, #{name}, #{description}, #{parentId}, #{level})
	</insert>
	<!-- delete tenant -->
	<delete id="deleteTenant">
		delete from tenants where id=#{id}
	</delete>
	<!-- update tenant name -->
	<update id="updateTenantName" parameterType="java.lang.String">
		update tenants set
		name = #{name}
		where id = #{id}
	</update>
	<!-- get tenants based on level -->
	<select id="selectTenantsByLevel" resultType="com.asiainfo.ocmanager.persistence.model.Tenant">
		select * from tenants where level=#{level}
	</select>
</mapper>