<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.UserMapper">
	<!-- get all users -->
	<select id="selectAllUsers" resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users order by username
	</select>
	<!-- get user by id -->
	<select id="selectUserById" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.User">
		select * from users where id=#{id}
	</select>
	<!-- create user -->
	<insert id="insertUser" keyProperty="id"
		parameterType="com.asiainfo.ocmanager.persistence.model.User">
		insert into users (id, username, password, email, phone, description, createdUser)
		values (#{id}, #{username}, #{password}, #{email}, #{phone}, #{description}, #{createdUser})
	</insert>
	<!-- update user -->
	<update id="updateUser"
		parameterType="com.asiainfo.ocmanager.persistence.model.User">
		update users set
			username = #{username},
			password = #{password},
			email = #{email},
			phone = #{phone},
			description = #{description}
		where id = #{id}
	</update>
	<!-- delete user -->
	<delete id="deleteUser">
		delete from users where id = #{id}
	</delete>
</mapper>