<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.ocmanager.persistence.mapper.UserRoleMapper">
	<select id="selectUsersRolesInTenant" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.UserRoleView">
		select
		  U.id as "userId",
		  U.username as "userName",
		  U.description as "userDescription",
		  R.id as "roleId",
		  R.rolename as "roleName",
		  TUR.tenant_id as "tenantId"
		  from
		      tenants_users_roles_assignment as TUR, users as U, roles as R where
		      TUR.user_id=U.id and TUR.role_id=R.id and TUR.tenant_id=#{tenantId}
	</select>
	<!-- select the role based on the given tenant and user -->
	<select id="selectRoleBasedOnUserAndTenant" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.UserRoleView">
		select
			U.id as "userId",
			U.username as "userName",
			TUR.role_id as "roleId",
			TUR.tenant_id as "tenantId",
			R.permission as "permission"
			from
		         users as U, tenants_users_roles_assignment as TUR, roles as R where
		         U.id=TUR.user_id and TUR.role_id=R.id and U.username=#{userName} and
		         TUR.tenant_id=#{tenantId}
	</select>
	<!-- select the role and tenant info based on user id -->
	<select id="selectTenantAndRoleBasedOnUserId" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.UserRoleView">
		select
		  U.id as "userId",
		  U.username as "userName",
		  U.description as "userDescription",
		  R.id as "roleId",
		  R.rolename as "roleName",
		  T.id as "tenantId",
		  T.name as "tenantName"
		from
		  tenants_users_roles_assignment as TUR, users as U, roles as R, tenants as T where
		  TUR.user_id=U.id and TUR.role_id=R.id and TUR.tenant_id = T.id and TUR.user_id=#{userId};
	</select>
	<!-- select the role and tenant info based on user name -->
	<select id="selectTenantAndRoleBasedOnUserName" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.UserRoleView">
		select
			U.id as "userId",
			U.username as "userName",
			U.description as "userDescription",
			R.id as "roleId",
			R.rolename as "roleName",
			T.id as "tenantId",
			T.name as "tenantName"
		from
			tenants_users_roles_assignment as TUR, users as U, roles as R, tenants as T where
			TUR.user_id=U.id and TUR.role_id=R.id and TUR.tenant_id = T.id and
			U.username=#{userName};
	</select>
	<!-- select the user, role and tenant info based on user name and role -->
	<!-- the results will be more -->
	<select id="selectTURBasedOnUserNameAndRoleId" parameterType="java.lang.String"
		resultType="com.asiainfo.ocmanager.persistence.model.UserRoleView">
		select
			U.id as "userId",
			U.username as "userName",
			U.description as "userDescription",
			R.id as "roleId",
			R.rolename as "roleName",
			T.id as "tenantId",
			T.name as "tenantName"
		from
			tenants_users_roles_assignment as TUR, users as U, roles as R, tenants as T where
			TUR.user_id=U.id and TUR.role_id=R.id and TUR.tenant_id = T.id and
			U.username=#{userName} and R.id=#{roleId};
		;
	</select>
</mapper>
